<div class="card-container">
  <mat-card class="shared-card">
    <mat-card-content class="beer">
      <div class="header-section">
        <img
          *ngIf="cardData.mainImage"
          class="beer-label"
          [src]="cardData.mainImage"
          [alt]="cardData.title"
          [title]="cardData.title"
        />

        <div class="beer-info">
          <h3>
            <span *ngIf="cardData.rank" class="rank">#{{ cardData.rank }}</span>
            {{ cardData.title }}
          </h3>
          <p *ngIf="cardData.subtitle">{{ cardData.subtitle }}</p>
          <p *ngIf="cardData.breweryName">{{ cardData.breweryName }}</p>
        </div>

        <img
          *ngIf="cardData.secondaryImage"
          class="brewery-label"
          [src]="cardData.secondaryImage"
          [alt]="cardData.breweryName"
          [title]="cardData.breweryName"
        />
      </div>

      <span class="comment" *ngIf="cardData.description">{{
        cardData.description
      }}</span>
      <span class="comment" *ngIf="cardData.hint">{{ cardData.hint }}</span>

      <div class="rating-bar">
        <app-rating
          *ngIf="cardData.rating != null"
          [ratingScore]="cardData.rating"
          style="flex: 1 1 auto"
        ></app-rating>
      </div>

      <div class="badges-and-social-links">
        <div
          *ngIf="cardData.globalRating != null"
          class="global-rating"
          style="display: flex; align-items: center; gap: 4px"
        >
          <span class="global-rating-label">Overall Rating:</span>
          <span>{{ cardData.globalRating | number: "1.2-2" }}</span>
        </div>

        <div style="display: flex; align-items: center; flex: 1 1 auto">
          <mat-chip-listbox
            class="chip"
            selectable="false"
            *ngIf="cardData.extraData?.badges && cardData.globalRating == null"
          >
            <mat-chip
              *ngFor="let badge of cardData.extraData.badges"
              (click)="onBadgeClick(badge)"
            >
              <mat-chip-avatar>
                <img
                  class="avatar-image"
                  [src]="badge.badge_image.sm"
                  alt="badge"
                />
              </mat-chip-avatar>
              {{ badge.badge_name }}
            </mat-chip>
          </mat-chip-listbox>
        </div>

        <div
          style="
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <app-social-links
            *ngIf="cardData.extraData?.socialLinks"
            [contact]="cardData.extraData.socialLinks"
            [mapData]="cardData.extraData.mapData"
          >
          </app-social-links>
        </div>
      </div>

      <footer>
        <div class="footer-left">
          <a
            target="_blank"
            [href]="cardData.footerInfo.link"
            class="location-link"
            [title]="cardData.footerInfo.text"
            *ngIf="cardData.footerInfo.link"
          >
            <mat-icon class="location-icon">{{
              cardData.extraData?.venueId ? "location_on" : "info"
            }}</mat-icon>
            <span class="location-text">{{ cardData.footerInfo.text }}</span>
          </a>
        </div>
        <div class="footer-time">
          <time
            [attr.aria-label]="cardData.footerInfo.timestamp"
            [title]="cardData.footerInfo.timestamp"
            >{{ cardData.footerInfo.timestamp }}</time
          >
          <a
            class="checkin-page view-details"
            [href]="
              cardData.extraData?.userName && cardData.extraData?.checkinId
                ? 'https://untappd.com/user/' +
                  cardData.extraData.userName +
                  '/checkin/' +
                  cardData.extraData.checkinId
                : cardData.footerInfo.link
            "
            target="_blank"
            title="{{cardData.footerInfo?.rightLinkText || 'View Details'}}"
          >
            <mat-icon>open_in_new</mat-icon>
          </a>
        </div>
      </footer>
    </mat-card-content>
  </mat-card>
</div>
