<div class="card-container">
  <mat-card class="shared-card">
    <mat-card-content class="beer">
      <div class="card-header">
        <div class="label-container left">
          @if (cardData.mainImage) {
            <img
              class="beer-label"
              [ngSrc]="cardData.mainImage"
              [alt]="cardData.title"
              [title]="cardData.title"
              width="54"
              height="54"
            />
          }
        </div>

        <div class="beer-info">
          <h3 class="title">
            @if (cardData.rank) {
              <span class="rank-badge">#{{ cardData.rank }}</span>
            }
            {{ cardData.title }}
          </h3>
          @if (cardData.subtitle) {
            <div class="subtitle" [innerHTML]="cardData.subtitle"></div>
          }
          @if (cardData.breweryName) {
            <div class="brewery-name">{{ cardData.breweryName }}</div>
          }
        </div>

        <div class="label-container right">
          @if (cardData.secondaryImage) {
            <img
              class="brewery-label"
              [ngSrc]="cardData.secondaryImage"
              [alt]="cardData.breweryName"
              [title]="cardData.breweryName"
              width="54"
              height="54"
            />
          }
        </div>
      </div>

      @if (cardData.description) {
        <span class="comment" [innerHTML]="cardData.description"></span>
      }
      @if (cardData.hint) {
        <span class="comment">{{ cardData.hint }}</span>
      }

      @if (cardData.rating != null) {
        <div class="rating-bar">
          <app-rating
            [ratingScore]="cardData.rating"
            class="flex-1"
          ></app-rating>
        </div>
      }

      @if (
        cardData.globalRating != null ||
        cardData.extraData?.badges?.length ||
        cardData.extraData?.socialLinks
      ) {
        <div class="badges-and-social-links">
          @if (cardData.globalRating != null) {
            <div class="global-rating flex-row align-center gap-4">
              <span class="global-rating-label">Overall Rating:</span>
              <span>{{ cardData.globalRating | number: "1.2-2" }}</span>
            </div>
          }

          <div class="flex-row align-center min-w-0">
            @if (cardData.extraData?.badges && cardData.globalRating == null) {
              <mat-chip-set class="chip">
                @for (
                  badge of cardData.extraData.badges;
                  track badge.badge_name
                ) {
                  <mat-chip
                    class="clickable-chip"
                    (click)="onBadgeClick(badge)"
                  >
                    <img
                      matChipAvatar
                      [ngSrc]="badge.badge_image.sm"
                      alt="badge"
                      width="32"
                      height="32"
                    />
                    {{ badge.badge_name }}
                  </mat-chip>
                }
              </mat-chip-set>
            }
          </div>

          <div
            class="flex-shrink-0 flex-row align-center justify-center social-links-wrapper"
          >
            @if (cardData.extraData?.socialLinks) {
              <app-social-links
                [contact]="cardData.extraData.socialLinks"
                [mapData]="cardData.extraData.mapData"
              >
              </app-social-links>
            }
          </div>
        </div>
      }

      <footer>
        <div class="footer-left">
          @if (cardData.footerInfo.link) {
            <a
              target="_blank"
              [href]="cardData.footerInfo.link"
              class="location-link"
              [title]="cardData.footerInfo.text"
            >
              <mat-icon class="location-icon">{{
                cardData.extraData?.venueId ? "location_on" : "info"
              }}</mat-icon>
              <span class="location-text">{{ cardData.footerInfo.text }}</span>
            </a>
          }
        </div>
        <div class="footer-time">
          <time
            [attr.aria-label]="cardData.footerInfo.timestamp"
            [title]="cardData.footerInfo.timestamp"
            >{{ cardData.footerInfo.timestamp }}</time
          >
          <a
            class="checkin-page view-details"
            [href]="
              cardData.extraData?.userName && cardData.extraData?.checkinId
                ? 'https://untappd.com/user/' +
                  cardData.extraData.userName +
                  '/checkin/' +
                  cardData.extraData.checkinId
                : cardData.footerInfo.link
            "
            target="_blank"
            title="{{ cardData.footerInfo?.rightLinkText || 'View Details' }}"
          >
            <mat-icon>open_in_new</mat-icon>
          </a>
        </div>
      </footer>
    </mat-card-content>
  </mat-card>
</div>
