<!DOCTYPE html>
<html lang="en">
<head>
    <title>Liquid Stats - About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/style.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<header>
<div id="header">
  <div id="container">
    <div id="logo">
    <a href="/">Liquid Stats</a>
    </div>
    <div id="header-button">
      <svg id="header-menu-svg" height="50" width="25" viewBox="0 0 12 16" version="1.1" aria-hidden="true">
                    <path fill-rule="evenodd" d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z"></path>
                </svg>
    </div>
    <div id="nav">
      <a href="/checkins">Checkins</a>
      <a href="/topbeers">Top Beers</a>
	  <a href="/mybadges">Badges</a>
      <a href="/stats">Stats</a>
      <a href="/wishlist">Wishlist</a>
      <a class="active" href="/about">About</a>
    </div>
  </div>
</div>
</header>
    <body>
	    <div>
			<h1>About</h1>
			
            <p>Welcome to Liquid Stats. This project uses the Untappd API, and allows you to keep track of whats beers you have had, your top rated beers, badges you earned, and statics about your Untappd checkins.</p>
            
            <br />
            
            <img  style="float: left; margin: 0px 15px 15px 0px;" src="images/hops.jpg" align="left"/>
            
            <h2>Recent Checkins</h2>
            <br/>
            <p>The recent checkins page will display your 25 most recent checkins.</p>
            
            <br />
            
            <h2>Top Beers</h2>
            <br/>
            <p>The top beers page is what it sounds. It will display the top beers you have checked in, based on your rating of those beers. The number of beers displayed will be based on a ratings threshold (i.e all ratings > x)</p>
            
            <br />
            
            <h2>Stats</h2>
            <br/>
            <p>This page will display diferent stats including bar graphs, pie charts, a map, and a table. Bar graphs will show for your ratings, community ratings, ABV, and IBU. Pie charts will display nmber of beers by year, month, and day of the week. A map will display the location of the beers. a table will display each beer and has columns for brewey info, beer info with description, style info, your rating, community ratinng, ABV, and IBU.<p>
            
            <br />
            
            <h2>Contact</h2>
            <br />
            <p>
                We hope you enjoy our app. If you have any questions or comments, please don't hesitate to contact us. Email: <a href="mailto:chris@chrisfrome.com?Subject=Liquid%20Stats%20App" target="_top">chris@chrisfrome.com</a>
           </p>

            <br />
            
            <img class="powered-by" src="assets/css/img/poweredbyuntappd.png" alt="Powered by Untappd API">
		</div>
		
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
        <script type="text/javascript" src="assets/js/navbar.js"></script>
    </body>
</html>
