<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chris Frome - About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/style.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<header>
<div id="header">
  <div id="container">
    <div id="logo">
    <a href="/">Liquid Stats</a>
    </div>
    <div id="header-button">
      <svg id="header-menu-svg" height="50" width="25" viewBox="0 0 12 16" version="1.1" aria-hidden="true">
                    <path fill-rule="evenodd" d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z"></path>
                </svg>
    </div>
    <div id="nav">
      <a href="/">Home</a>
      <a class="active" href="/about">About</a>
      <a href="/Topten">Top Ten</a>
	  <a href="/mybadges">Badges</a>
      <a href="/stats">Stats</a>
    </div>
  </div>
</div>
</header>
    <body>
	    <div style="text-align:center;">
			<h1>About</h1>

			<p>This project uses the untappd api, and allows you to keep track of whats beers you have had, your top rated beers, badges you earned, and statics about your untappd checkins</p>

			<br />
			
			<h2 id="souresandcredits">Soures and Credits</h2>
			<br />
			<ol>
			<li>I've modified code from Austin Lyons for the statistics page. You can find it <a href="https://github.com/austinlyons/dcjs-leaflet-untappd">here</a>.</li>

			<li>I've modified code from pinceladasdaweb for the main list, top ten, and badges. You can find it <a href="https://github.com/pinceladasdaweb/Node-Untappd">here</a></li>
			</ol>

			<br />
			
			<h2 id="authors">Authors</h2>
			<br />
			<ul>
			<li><strong>Chris Frome</strong> - <a href="https://linkedin.com/in/cfrome77">linkedin.com/in/cfrome77</a></li>
			</ul>
		</div>
		<br />
		<hr align="middle">
		<br />
        <img class="powered-by" src="assets/css/img/poweredbyuntappd.png" alt="Powered by Untappd API">
		
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
        <script type="text/javascript" src="assets/js/navbar.js"></script>
    </body>
</html>
