<!DOCTYPE html>
<html lang="en">
<head>
    <title>Liquid Stats - Badges</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    <link href="/assets/css/style.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<header>
<div id="header">
  <div id="container">
    <div id="logo">
    <a href="/">Liquid Stats</a>
    </div>
    <div id="header-button">
      <svg id="header-menu-svg" height="50" width="25" viewBox="0 0 12 16" version="1.1" aria-hidden="true">
                    <path fill-rule="evenodd" d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z"></path>
                </svg>
    </div>
    <div id="nav">
      <a href="/checkins">Checkins</a>
      <a href="/topbeers">Top Beers</a>
	  <a class="active" href="/mybadges">Badges</a>
      <a href="/stats">Stats</a>
      <a href="/wishlist">Wishlist</a>
      <a href="/about">About</a>
    </div>
  </div>
</div>
</header>
    <body>
        <h1>Earned Badges</h1>
		<div id="stream">
            <img class="loading" src="assets/svg/loading-spin.svg" alt="Loading">
        </div>
        <img class="powered-by" src="assets/img/poweredbyuntappd.png" alt="Powered by Untappd API">
		<script id="untappd-template" type="text/x-handlebars-template">
			{{#each this}}
            <div id="checkin-{{id}}" class="checkin cf">
                <img class="beer-label" src="{{badgeImage}}" alt="{{badge}}">
                <div class="beer" style="text-align:center">
                    <p><strong>{{badgeName}}</strong></p>
					<p>{{badgeDescription}}</p>
                </div>
                <footer>
                    <div class="footer-time">
                        <time>{{published createdAt}}</time>
                        <a class="checkin-page hide-text" href="https://untappd.com/user/fromeca/badges/{{id}}" target="_blank" title="Badge Page">Badge Page</a>
                    </div>
                </footer>
            </div>
            {{/each}}
        </script>
 
        <button onclick="topFunction()" id="topButton" title="Go to top">Top</button>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
        <script type="text/javascript" src="assets/js/badges.min.js"></script>
        <script type="text/javascript" src="assets/js/topButton.js"></script>
        <script type="text/javascript" src="assets/js/navbar.js"></script>
        <script type="text/javascript">
            Untappd.init({
                template: $('#untappd-template').html(),
                container: $('#stream'),
                username: 'fromeca' // Untappd username
            });
        </script>
    </body>
</html>
