.social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: var(--text-color);
  opacity: 0.7;
  text-decoration: none;
  margin-bottom: 0;
}

.social-links a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.social-links mat-icon {
  font-size: 24px;
}
