<h1>Wishlist</h1>

<div class="main-content-container">
  @if (wishlist.length > 0) {
    <div class="flex-column" style="align-items: stretch; gap: 10px">
      @for (item of paginatedWishlist; track item.title) {
        <app-card
          [cardData]="item"
        ></app-card>
      }
    </div>

    @if (totalItems > itemsPerPage) {
      <app-pagination
        [totalItems]="totalItems"
        [itemsPerPage]="itemsPerPage"
        [currentPage]="currentPage"
        (pageChange)="goToPage($event)"
      >
      </app-pagination>
    }
  } @else {
    <div class="empty-state">
      <p>Sorry, no items have been added to this wishlist.</p>
    </div>
  }
</div>

<app-powered-by></app-powered-by>
