<h1>Wishlist</h1>

<div class="main-content-container">
  <ng-container *ngIf="wishlist.length > 0; else noItemsBlock">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
      <app-card *ngFor="let item of paginatedWishlist" [cardData]="item"></app-card>
    </div>

    <app-pagination 
      *ngIf="totalItems > itemsPerPage" 
      [totalItems]="totalItems" 
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage" 
      (pageChange)="goToPage($event)">
    </app-pagination>
  </ng-container>

  <ng-template #noItemsBlock>
    <div class="empty-state">
      <p>Sorry, no items have been added to this wishlist.</p>
    </div>
  </ng-template>
</div>

<app-powered-by></app-powered-by>
