<h1>Beer History</h1>

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" class="main-content-container">
  <mat-card class="white-card">
    <div fxLayout="column" fxLayoutGap="10px">

      <div class="filter-buttons-container">
        <app-filter [filterFields]="filterFields" (filterChanged)="onFilterChange()"></app-filter>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex>
          <input matInput type="text" placeholder="Search beers..." [(ngModel)]="searchTerm"
            (input)="onSearchChange()" />
        </mat-form-field>
        <button mat-flat-button color="warn" (click)="resetFilters()">Reset Filters</button>
      </div>
    </div>
  </mat-card>

  <ng-container *ngFor="let beer of paginatedBeers">
    <mat-card id="checkin-{{ beer.recent_checkin_id }}" class="checkin outline">
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
          <img class="beer-label" [src]="beer.beer.beer_label" alt="{{ beer.beer.beer_name }}" />
          <div fxFlex fxLayout="column">
            <p><strong>{{ beer.beer.beer_name }}</strong></p>
            <p>{{ beer.beer.beer_style }}</p>
            <p>{{ beer.brewery?.brewery_name }}</p>
          </div>
          <img class="brewery-label" [src]="beer.brewery?.brewery_label" alt="{{ beer.brewery?.brewery_name }}" />
        </div>

        <span class="comment" *ngIf="beer.beer.beer_description">{{ beer.beer.beer_description }}</span>

        <div class="rating-container">
          <app-rating [ratingScore]="beer.rating_score"></app-rating>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="overallRating">
            <div *ngIf="beer.beer.rating_score == 0; then thenBlock; else elseBlock"></div>
            <ng-template #thenBlock>Overall rating: n/a</ng-template>
            <ng-template #elseBlock>Overall rating: {{ beer.beer.rating_score }}</ng-template>
          </span>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <app-social-links [contact]="beer.brewery.contact"
              [mapData]="{ lat: beer.brewery?.location?.lat, lng: beer.brewery?.location?.lng, breweryId: beer.brewery?.brewery_id }">
            </app-social-links>
          </div>
        </div>
        <footer>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <p class="beerInfo">
              <a href="https://untappd.com/b/{{ beer.beer.beer_slug }}/{{ beer.beer.bid }}" target="_blank">Beer
                Info</a>
            </p>
            <div class="footer-time">
              <time>{{ published(beer.recent_created_at) }}</time>
            </div>
          </div>
        </footer>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <app-pagination [currentPage]="currentPage" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems"
    (pageChange)="goToPage($event)" (itemsPerPageChange)="changeItemsPerPage($event)">
  </app-pagination>
</div>

<app-powered-by></app-powered-by>