<h1>Beer History</h1>

<div class="card-container">
  <mat-card class="white-card">
    <div class="stats-filter-container-wrapper">

      <div class="filter-buttons-container">
        <app-filter [filterFields]="filterFields" (filterChanged)="onFilterChange()"></app-filter>
      </div>

      <div class="search-bar-container">
        <input type="text" class="search-bar" placeholder="Search beers..." [(ngModel)]="searchTerm"
          (input)="onSearchChange()" />
        <button (click)="resetFilters()" class="reset-button">Reset Filters</button>
      </div>
    </div>
  </mat-card>

  <ng-container *ngFor="let beer of paginatedBeers">
    <mat-card id="checkin-{{ beer.recent_checkin_id }}" class="checkin cf mat-elevation-z0 outline white-card">
      <mat-card-content class="beer">
        <img class="beer-label" [src]="beer.beer.beer_label" alt="{{ beer.beer.beer_name }}" />
        <img class="brewery-label" [src]="beer.brewery?.brewery_label" alt="{{ beer.brewery?.brewery_name }}" />
        <p><strong>{{ beer.beer.beer_name }}</strong></p>
        <p>{{ beer.beer.beer_style }}</p>
        <p>{{ beer.brewery?.brewery_name }}</p>
        <span class="comment" *ngIf="beer.beer.beer_description">{{ beer.beer.beer_description }}</span>
        <div class="rating-container">
          <app-rating [ratingScore]="beer.rating_score"></app-rating>
        </div>
        <div class="meta-bar">
          <span class="overallRating">
            <div *ngIf="beer.beer.rating_score == 0; then thenBlock; else elseBlock"></div>
            <ng-template #thenBlock>Overall rating: n/a</ng-template>
            <ng-template #elseBlock>Overall rating: {{ beer.beer.rating_score }}</ng-template>
          </span>
          <div class="social-and-map-container">
            <app-social-links [contact]="beer.brewery.contact"></app-social-links>
            <a [routerLink]="['/map']"
              [queryParams]="{ lat: beer.brewery?.location?.lat, lng: beer.brewery?.location?.lng, breweryId: beer.brewery?.brewery_id }"
              class="view-on-map-link">
              <mat-icon>map</mat-icon>
            </a>
          </div>
        </div>
        <footer>
          <p class="beerInfo">
            <a href="https://untappd.com/b/{{ beer.beer.beer_slug }}/{{ beer.beer.bid }}" target="_blank">Beer Info</a>
          </p>
          <div class="footer-time">
            <time>{{ published(beer.recent_created_at) }}</time>
          </div>
        </footer>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <app-pagination [currentPage]="currentPage" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems"
    (pageChange)="goToPage($event)" (itemsPerPageChange)="changeItemsPerPage($event)">
  </app-pagination>
</div>

<app-powered-by></app-powered-by>