<h1>Badges Earned</h1>

<div class="main-content-container">
  <div class="flex-column" style="align-items: stretch; gap: 10px">
    @for (badge of paginatedBadges; track badge.badge_name) {
      <app-card [cardData]="transformBadgeData(badge)"> </app-card>
    }
  </div>
</div>

<app-pagination
  [currentPage]="currentPage"
  [itemsPerPage]="itemsPerPage"
  [totalItems]="totalItems"
  (pageChange)="onPageChange($event)"
  (itemsPerPageChange)="onItemsPerPageChange($event)"
>
</app-pagination>

<app-powered-by></app-powered-by>
