p {
    color: black;
    margin: 0 !important;
    font-size: 16px;
}

.checkin {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #000;
    text-align: center;
}

.beer {
    color: #333;
    margin-bottom: 16px;
    min-height: 50px;
}

.beer-label {
    float: left;
    height: 50px;
    width: 50px;
}

.brewery-label {
    float: right;
    height: 50px;
    width: 50px;
}

.comment {
    color: #333;
    line-height: 22px;
    margin: 10px 0 15px;
    display: block;
}

.meta-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

footer {
    border-top: 1px solid #eee;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.beerInfo a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.beerInfo a:hover {
    text-decoration: underline;
}

.footer-time time {
    font-size: 14px;
    color: #777;
}