<div fxLayout="column" fxFlexFill>
  <mat-toolbar
    class="navbar-color mat-elevation-z8 p-0"
    fxLayout="row"
    fxLayoutAlign="start stretch"
    style="z-index: 2"
  >
    <button mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>

    <span fxFlex></span>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button
        mat-button
        routerLink="/checkins"
        routerLinkActive="router-link-active no-border"
      >
        Checkins
      </button>
      <button
        mat-button
        routerLink="/topbeers"
        routerLinkActive="router-link-active no-border"
      >
        Top Beers
      </button>
      <button
        mat-button
        routerLink="/badges"
        routerLinkActive="router-link-active no-border"
      >
        Badges
      </button>
      <button
        mat-button
        routerLink="/stats"
        routerLinkActive="router-link-active no-border"
      >
        Stats
      </button>
      <button
        mat-button
        routerLink="/wishlist"
        routerLinkActive="router-link-active no-border"
      >
        Wishlist
      </button>
    </div>
  </mat-toolbar>

  <mat-drawer-container fxFlex autosize class="background">
    <mat-drawer #drawer>
      <div fxLayout="column">
        <button
          mat-button
          routerLink="/checkins"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
        >
          <mat-icon>room</mat-icon>Checkins
        </button>
        <mat-divider></mat-divider>
        <button
          mat-button
          routerLink="/topbeers"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
        >
          <mat-icon>emoji_events</mat-icon>Top Beers
        </button>
        <mat-divider></mat-divider>
        <button
          mat-button
          routerLink="/badges"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
        >
          <mat-icon>badge</mat-icon>Badges
        </button>
        <mat-divider></mat-divider>
        <button
          mat-button
          routerLink="/stats"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
        >
          <mat-icon>analytics</mat-icon>Stats
        </button>
        <mat-divider></mat-divider>
        <button
          mat-button
          routerLink="/wishlist"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
        >
          <mat-icon>list</mat-icon>Wishlist
        </button>
        <mat-divider></mat-divider>
      </div>
    </mat-drawer>

    <!--Show page-->
    <div style="display: inline;overflow-y: auto;">
      <router-outlet></router-outlet>
      <button mat-fab class="about-button" (click)="openDialog()">
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </mat-drawer-container>
</div>
