<h1>Recent Checkin List</h1>

<div class="main-content-container">
  <div class="flex-column" style="align-items: stretch; gap: 15px">
    @for (checkin of transformedCheckins; track checkin.extraData?.checkinId) {
      <div
        [id]="'checkin-' + checkin.extraData?.checkinId"
        class="card-wrapper"
      >
        <app-card [cardData]="checkin" (badgeClick)="openBadgeDialog($event)">
        </app-card>
      </div>
    } @empty {
      <div class="empty-state">
        <mat-icon>history</mat-icon>
        <p>No recent checkins found.</p>
      </div>
    }
  </div>
</div>
