<div class="main-content-container">
  <h1>Recent Checkin List</h1>
  <div class="flex-column" style="align-items: stretch; gap: 15px">
    @for (checkin of paginatedCheckins; track checkin.extraData?.checkinId) {
      <div
        [id]="'checkin-' + checkin.extraData?.checkinId"
        class="card-wrapper"
      >
        <app-card [cardData]="checkin" (badgeClick)="openBadgeDialog($event)">
        </app-card>
      </div>
    } @empty {
      <app-empty-state
        icon="history"
        message="No recent checkins found."
      ></app-empty-state>
    }
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
  >
  </app-pagination>
</div>
