<h1>Top Beers</h1>
<ng-container *ngFor="let beer of beers">
  <mat-card id="checkin-{{ beer.recent_checkin_id }} stream" class="checkin cf mat-elevation-z0 outline"
    style="text-align: center" *ngIf="beer.rating_score >= 5">
    <mat-card-content class="beer">
      <img class="beer-label" src="{{ beer.beer.beer_label }}" alt="{{ beer.beer.beer_name }}"
        title="{{ beer.beer.beer_name }} Logo" />
      <img class="brewery-label" src="{{ beer.brewery.brewery_label }}" alt="{{ beer.brewery.brewery_name }}"
        title="{{ beer.brewery.brewery_name }} Logo" />
      <p>
        <strong>{{ beer.beer.beer_name }}</strong>
      </p>
      <p>{{ beer.beer.beer_style }}</p>
      <p>{{ beer.brewery.brewery_name }}</p>
      <span class="comment" *ngIf="beer.beer.beer_description">
        {{ beer.beer.beer_description }}
      </span>
      <div class="rating-container">
        <div class="stars" [attr.title]="beer.rating_score">
          <div class="stars-background">★★★★★</div>
          <div class="stars-foreground" [style.width.%]="(beer.rating_score / 5) * 100">
            ★★★★★
          </div>
        </div>
        <span class="rating-number">{{ beer.rating_score }}</span>
      </div>
      
      <br />

      <span class="overallRating">
        <div *ngIf="beer.beer.rating_score == 0; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>Overall rating: n/a</ng-template>
        <ng-template #elseBlock>Overall rating: {{ beer.beer.rating_score }}</ng-template>
      </span>
      <span class="social"><a href="{{ beer.brewery.contact.url }}" target="_blank" alt="website"
          title="website">Website</a>
        |
        <a href="{{ beer.brewery.contact.facebook }}" target="_blank" alt="facebook" title="facebook">facebook</a>
        |
        <a href="http://instagram.com/{{ beer.brewery.contact.instagram }}" target="_blank" alt="instagram"
          title="instagram">Instagram</a>
      </span>

      <footer>
        <p class="beerInfo">
          <a href="https://untappd.com/b/{{ beer.beer.beer_slug }}/{{
              beer.beer.bid
            }}" target="_blank">Beer Info</a>
        </p>
        <div class="footer-time">
          <time>{{ published(beer.recent_created_at) }}</time>
          <a class="checkin-page hide-text" href="https://untappd.com/user/fromeca/checkin/{{
              beer.recent_checkin_id
            }}" target="_blank" title="Checkin Page">Checkin Page</a>
        </div>
      </footer>
    </mat-card-content>
  </mat-card>
</ng-container>
<img class="powered-by" src="../../../assets/images/poweredbyuntappd.png" alt="Powered by Untappd API" />